@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-[#06202A] text-gray-300
    }
}

@layer components {
    .header-item {
        @apply flex flex-col items-center cursor-pointer w-12 sm:w-20 hover:text-white
    }

    .nav-container {
        @apply flex px-10 sm:px-20 text-2xl whitespace-nowrap space-x-10 sm:space-x-20 overflow-x-scroll scrollbar-hide
    }

    .nav-item {
        @apply cursor-pointer transition duration-100 transform hover:scale-125 hover:text-white active:text-teal-600 last:pr-24
    }

    .main-container {
        @apply px-5 my-10 sm:grid md:grid-cols-2 xl:grid-cols-3 3xl:flex flex-wrap justify-center
    }

    .thumbnail-container {
        @apply cursor-pointer p-2 transition duration-200 ease-in transform sm:hover:scale-105 hover:z-50
    }

    .thumbnail-title {
        @apply mt-1 text-2xl text-white transition-all duration-100 ease-in-out
    }
}